Repository prgrms-be-devcourse/NBE6-8-2-Team06, pull requests merged in 2025-07, with the labels that each got.

#24 BE/리뷰 Entity 생성
  backend/src/main/java/com/back/domain/review/review/entity/Review.java
  backend/src/main/java/com/back/domain/review/review/repository/ReviewRepository.java
  backend/src/main/java/com/back/domain/review/review/service/ReviewService.java
Labels: reviews

#34 FE/피그마의 UI 반영
  frontend/components.json
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/books/[bookId]/page.tsx
  frontend/src/app/books/page.tsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/my-books/[bookId]/notes/page.tsx
  frontend/src/app/my-books/[bookId]/page.tsx
  frontend/src/app/my-books/[bookId]/review/page.tsx
  frontend/src/app/my-books/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/BookCard.tsx
  frontend/src/components/ImageWithFallback.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/lib/utils.ts
Labels: global

#59 Feat/be/review/#35 delete
  backend/src/main/java/com/back/domain/member/member/service/AuthTokenService.java
  backend/src/main/java/com/back/domain/review/review/controller/ReviewController.java
  backend/src/main/java/com/back/domain/review/review/repository/ReviewRepository.java
  backend/src/main/java/com/back/domain/review/review/service/ReviewService.java
  backend/src/main/java/com/back/global/initData/BaseInitData.java
  backend/src/test/java/com/back/domain/review/review/controller/ReviewControllerTest.java
Labels: reviews

#100 BE/리뷰추천 삭제 구현
  backend/src/main/java/com/back/domain/review/review/controller/ReviewController.java
  backend/src/main/java/com/back/domain/review/reviewRecommend/service/ReviewRecommendService.java
  backend/src/main/java/com/back/global/initData/BaseInitData.java
  backend/src/test/java/com/back/domain/review/reviewRecommend/controller/ReviewRecommendController.java
Labels: reviews

#102 Feat/be/review/#99 read
  backend/src/main/java/com/back/domain/book/book/entity/Book.java
  backend/src/main/java/com/back/domain/review/review/controller/ReviewController.java
  backend/src/main/java/com/back/domain/review/review/service/ReviewDtoService.java
  backend/src/main/java/com/back/global/initData/BaseInitData.java
  backend/src/main/resources/application.yml
  backend/src/test/java/com/back/domain/review/review/controller/ReviewControllerTest.java
  backend/src/test/java/com/back/domain/review/reviewRecommend/controller/ReviewRecommendController.java
Labels: reviews

#119 BE/ 카테고리 조회 추가
  backend/src/main/java/com/back/domain/book/category/controller/CategoryController.java
  backend/src/main/java/com/back/domain/book/category/dto/CategoryDto.java
  backend/src/main/java/com/back/domain/book/category/service/CategoryService.java
  backend/src/main/java/com/back/domain/bookmarks/entity/Bookmark.java
  backend/src/main/java/com/back/domain/bookmarks/service/BookmarkService.java
  backend/src/main/java/com/back/global/security/JwtAuthenticationFilter.java
  backend/src/main/java/com/back/global/security/SecurityConfig.java
  backend/src/test/java/com/back/domain/book/category/controller/CategoryControllerTest.java
  frontend/src/app/bookmark/[id]/_components/bookInfoTab.tsx
  frontend/src/app/bookmark/[id]/_components/bookmarkSummaryCard.tsx
  frontend/src/app/bookmark/[id]/_components/notesTab.tsx
  frontend/src/app/bookmark/[id]/_components/reviewTab.tsx
  frontend/src/app/bookmark/[id]/page.tsx
  frontend/src/app/bookmark/_components/bookmarkCard.tsx
  frontend/src/app/bookmark/_components/bookmarkFilters.tsx
  frontend/src/app/bookmark/_components/bookmarkStats.tsx
  frontend/src/app/bookmark/_components/paginationControls.tsx
  frontend/src/app/bookmark/page.tsx
  frontend/src/lib/apiFetch.ts
  frontend/src/lib/bookmarkUtils.tsx
  frontend/src/types/bookmarkAPI.js
  frontend/src/types/category.ts
Labels: bookmarks
